body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    justify-content: center;
    padding-bottom: 180px;
    background-color: #ffffff;
}

.myNav {
    display: flex;
    gap: 15px;
    top: 20px;
    right: 20px;
    position: absolute;
}

.myNav a:hover {
    text-decoration: underline;
}

.myNav a {
    font-size: 15px;
    color: #5f6368;
    text-decoration: none;
}

.logo {
    text-align: center;
    font-size: 90px;
    font-family: 'Century Gothic', Arial, sans-serif;
    letter-spacing: -7px;
    user-select: none;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 80px;
}

.logo span:nth-child(1) {
    color:#4285f4;
}
.logo span:nth-child(2) {
    color:#EA4335;
}
.logo span:nth-child(3) {
    color:#FBBC05;
}
.logo span:nth-child(4) {
    color:#4285F4;
}
.logo span:nth-child(5) {
    color:#34A853;
}
.logo span:nth-child(6) {
    color:#EA4335;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
    padding: 0 20px;
}

#search_txt {
    width: 70%;
    max-width: 600px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #a6a7aa;
    font-size: 17px;
    padding: 0 22px;
    outline: none;
    box-shadow: 0 2px 12px rgba(41, 41, 43, 0.25);
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
}

#search_txt:hover, #search_txt:focus {
    box-shadow: 0 1px 7px rgba(66, 133, 244, 0.44);
    border-color: rgba(66, 133, 244, 0.50);
}

.btns {
    gap: 20px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    border-radius: 10px;
}

input[type="submit"] {
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    padding: 10px 16px;
    background-color: #f8f9fa;
    cursor: pointer;
}

@media (max-width: 600px) {
    .logo {
        font-size: 50px;
        letter-spacing: -4px;
    }

    #search_txt {
        height: 45px;
        font-size: 15px;
    }
}
